@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/dm-sans/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: normal;
}

@font-face {
  font-family: 'DM Sans';
  src: url('/assets/fonts/dm-sans/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: italic;
}

@font-face {
  font-family: 'BricolageGrotesque';
  src: url('/assets/fonts/bricolage-grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf') format('truetype');
  font-weight: 100 1000;
  font-style: italic;
}
