.weather-bg {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;

  &__img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.content {
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-8);

  &__box {
    display: flex;
    flex-direction: column;
    gap: 4px;
    align-items: center;
  }
}

#geolocation, #temperature, #date {
  font-family: var(--font-family-heading);
  font-size: var(--font-size-fluid-3xl);
  z-index: 1;
  text-align: center;
}

#geolocation {
  font-weight: 500;
}

#temperature {
  font-size: var(--font-size-fluid-7xl);
  font-style: italic;
}

#date {
  font-size: var(--font-size-fluid-lg);
  color: var(--color-text-tertiary);
}
