.theme-dark {
  --color-background: var(--palette-neutral-900);
  --color-background-secondary: var(--palette-neutral-800);
  --color-background-tertiary: var(--palette-neutral-700);
  --color-surface: var(--palette-neutral-800);
  --color-surface-secondary: var(--palette-neutral-700);
  --color-text-primary: var(--palette-neutral-0);
  --color-text-secondary: var(--palette-neutral-200);
  --color-text-tertiary: var(--palette-neutral-300);
  --color-border: var(--palette-neutral-200);
  --color-borde-tertiary: var(--palette-neutral-700);
  --color-accent: var(--palette-orange-500);
  --color-accent-blue: var(--palette-blue-500);
  --color-accent-blue-dark: var(--palette-blue-700);
}

